body{
    background-color: #1e1e1e;
}

h1{
    text-align: center;
    color: white;
}

.formulario{
    background-color: #333232;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #b18924;
}

h2{
    color: darkgoldenrod;
}

input,
textarea{
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    border: 1px solid #b18924;
}

button{
    width: 99%;
    padding: 12px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border-radius: 10px
}

.inventario-titulo{
    color: white;
}

.inventario{
    border: 2px dashed #b37e1b;
    border-radius: 10px;
    min-height: 200px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inventario p{
    color: #999;
}

input,
textarea{
    color: white;
}





